<% layout('campgrounds/layouts/boilerplate.ejs') %> 
   <!-- <h1 class="text-center mb-3" > Campground Show </h1>
    
   <h2 class="mb-3"> <%= campground.title %>  </h2>
    
   <h3 class="mb-2"> <%= campground.location %>  </h3>

   <h4 class="mb-3"> $<%= campground.price %> </h4>
    
   <img src="<%= campground.image %> " alt=""> 
    
   
    
   <form class="mt-4" action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST">
        <button class="btn btn-dark"> Delete </button>
    
    </form> -->

    <div class="row">
        <div class="col-6">
            <div class="card" >
                <img src="<%= campground.image %> " class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title"> <%= campground.title %>  </h5>
                    <p class="card-text"><%= campground.description %> </p>
                  </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item text-muted"><%= campground.location %></li>
                      <li class="list-group-item">$<%= campground.price %></li>
                    </ul>
                  <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit " class="card-link btn btn-info"> Edit </a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST">
                      <button class="btn btn-dark"> Delete </button>
                    </form>
                    <a href="/campgrounds" class="btn btn-info" > Back to Campgrounds </a>
                  </div>
            </div>
        </div>

        <div class="col-6">
          <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate class="mb-3 validated-form">
            <div class="mb-3 ">
              <div>
                <label for="rating" class="form-label"> Rating </label>
                <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating" required>
              </div>

              <div>
              <label class="form-label" for="body"> Review </label>
              <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required></textarea>
              <div class="valid-feedback">
                Nice One!
              </div>
             </div>
            </div>

            <button class="btn btn-success"> submit</button>
          </form>

          <% for( let review of campground.reviews ) { %>
            <div class="mb-3 card">
            <div class="card-body">
              <div class="card-title"><h5>Rating: <%= review.rating %> </h5></div>
              <div class="card-text"> <p> Review: <%= review.body %> </p> </div>
              
              <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE " method="POST">
                <button class="btn btn-dark"> Delete </button>

              </form>
                
            </div>
            </div>
          
          <% } %>

        </div>
    </div>


    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.validated-form')
  
    // Loop over them and prevent submission
    Array.from(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  </script>
    


    <!-- <footer>
        <br>
        <a href="/campgrounds/<%= campground._id %>/edit "> edit campground </a>
        <br>
        <br>

        <a href="/campgrounds"> All campground's links </a>



    </footer> -->

    
